.gradle/
build/
out/
!**/src/main/**/build/
!**/src/test/**/build/

### Logging ###
logs/
*.log

### IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/

### Docker ###
.docker/

# Environment files (secrets)
.env
*.env.local
src/main/resources/application-secrets.yml